body { padding-top: 56px; }
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #343a40 !important; }
.bg-hero { background-color: #7952b3; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }



/*               LAMBERT_GA CSS STARTS HERE               */

:root {
    --base-header-font: 'Kanit', sans-serif;
    --base-body-font: "Nunito", sans-serif;

    --primary-100: #9A85F7;
    --primary-200: #6A48FF;
    --primary-300: #2D00F7;
    --primary-400: #100CAF;
    --primary-500: #0D005B;

    --accent-100: #F66160;
    --accent-200: #F85D5C;
    --accent-300: #F85D5C;
    --accent-400: #CD1307;
    --accent-500: #A21F02;
}

body {
    background-color: #0D0F12;
}

.page-content {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1000px;
    margin: 0 auto !important;
}

h1, h2, h3 {
    font-family: var(--base-header-font);
    font-weight: 500;
}

h1 {
    font-size: 48px;
    color: white;
    text-align:center;
    margin-top: 120px;
}
h2 {
    font-size: 36px;
    color: white;
    margin-top: 70px;
}
h3 {
    font-size: 24px;
    color: var(--primary-200);
    margin-top: 30px;
    padding: 30px 0px 10px 0px;
}
h4 {
    color: var(--accent-300);
}

p, span, li {
	font-family: var(--base-body-font);
	font-size: 18px;
	color: white;
}

.header {
    font-family: var(--base-header-font);
    font-size: 72px;
    color:white;
    letter-spacing: 10px;
    text-align: center;
    z-index: 1;
}

.subheader {
    font-family: var(--base-body-font);
    font-size: 24px;
    text-align: center;
    z-index: 1;
}

.iconInfoC {
    display: flex;
    align-items: center;
    margin: 20px;
}

.iconInfoC>.icon {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.iconInfoC>.content {
    /* margin-top: 16px; */
    margin-left: 50px;
}

.iconInfoC>.content>.title {
    font-weight: 800;
    /* font-size: 24px; */
}

.iconInfoC>.content>p {
    font-weight: 400;
    margin: 0px;
}

.bg-dark {
    background-color: #0D0F12 !important;
}

.nav-item, .navbar-brand {
    font-family: var(--base-header-font);
    color: white !important;
}
.nav-link {
    color: white !important;
    padding: 16px 0px 16px 0px;
}

.nav-link:hover {
    text-decoration: underline var(--accent-300) 4px;
    text-underline-offset: 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.dropdown-menu {
    border-radius: 0px 0px 16px 16px;
}

.dropdown-menu li {
    padding: 5px 0px 5px 0px;
}

.dropdown-item {
    font-weight: 700;
}

.dropdown-item:hover {
    color: var(--accent-300) !important;
}